@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Philosopher-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Philosopher-Bold.woff2') format('woff2');
  }

  html {
    scrollbar-gutter: stable;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-white font-serif text-base leading-5 text-black;
  }

  ::-webkit-scrollbar {
    @apply w-4 bg-primary-light;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-solid border-primary-light bg-yellow;
  }

  ::selection {
    @apply bg-yellow text-primary;
  }

  input:-webkit-autofill {
    box-shadow: inset 0 0 20px 20px #e6fff3;
  }
}

@layer components {
  .scroll-hidden {
    scrollbar-width: none;
  }

  .section-title {
    @apply text-xl font-bold md:text-2xl lg:text-3xl;
  }

  .title-mb {
    @apply mb-5 md:mb-7;
  }

  .section-bg {
    @apply bg-secondary-light ring-2 ring-secondary;
  }

  .section-py {
    @apply py-14 md:py-16 lg:py-24;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .button {
    @apply flex-center h-11 w-full cursor-pointer rounded-lg bg-primary text-base font-bold uppercase tracking-wider text-[#FFF] shadow-xl transition-all hover:bg-primary-light hover:tracking-widest;
  }

  .icon {
    @apply h-8 w-8 text-primary transition-colors hover:text-primary-light;
  }

  .border-box {
    @apply border-2 border-secondary;
  }

  .container-sm {
    @apply mx-auto max-w-screen-lg;
  }

  .input {
    @apply w-full rounded-md border-2 border-secondary-light bg-white p-2 px-4 transition-colors focus:border-secondary focus:outline-none;
  }
}
